@model DashboardViewModel

@{ 
    ViewData["Title"] = "Dashboard";
}
<h1>Dashboard</h1>
<div class="row">
    <div class="movies-tickets col">
        <div class="movies">
            <h2>Movies</h2>
            @foreach (var movie in Model.Movies)
            {
        <div class="card card-body" style="width: 22rem; padding-top: 1rem;">
            <img src="@movie.MovieImageUrl" alt="Movie Poster" />
            <h3>@movie.MovieTitle</h3>
            <p>@movie.MovieSynopsis</p>
            <h5>@movie.MovieLength</h5>
            <p>@movie.MovieGenre</p>

            <form method="post">
                <label asp-for="Movie.MovieImageUrl">Image URL</label>
                <input asp-for="Movie.MovieImageUrl" asp-controller="admin" asp-action="dashboard" type="text" value="@movie.MovieImageUrl" />

                <label asp-for="Movie.MovieTitle">Movie Title</label>
                <input asp-for="Movie.MovieTitle" asp-controller="admin" asp-action="dashboard" type="text" value="@movie.MovieTitle" />

                <label asp-for="Movie.MovieSynopsis">Movie Synopsis</label>
                <input asp-for="Movie.MovieSynopsis" asp-controller="admin" asp-action="dashboard" type="text" value="@movie.MovieSynopsis" />

                <label asp-for="Movie.MovieLength">Movie Length</label>
                <input asp-for="Movie.MovieLength" asp-controller="admin" asp-action="dashboard" type="text" value="@movie.MovieLength" />

                <label asp-for="Movie.MovieGenre">Movie Genre</label>
                <input asp-for="Movie.MovieGenre" asp-controller="admin" asp-action="dashboard" type="text" value="@movie.MovieGenre" />

                <input asp-for="Movie.MovieId" asp-controller="admin" asp-action="dashboard" type="hidden" value="@movie.MovieId" />
                <button type="submit">Apply Changes</button>
            </form>
        </div>
            }
        </div>
        <div class="tickets">
            <h2>Tickets</h2>
            @foreach (var ticket in Model.Tickets)
            {
        <div class="card card-body" style="width: 22rem; padding-top: 1rem;">
            <p>Price: @ticket.TicketPrice</p>
            <p>In stock: @ticket.TicketStock</p>
            <p>Is in stock? @ticket.TicketIsInStock</p>

            <form method="post">
                <label asp-for="Ticket.TicketPrice">Price</label>
                <input asp-for="Ticket.TicketPrice" asp-controller="admin" asp-action="dashboard" type="text" value="@ticket.TicketPrice" />

                <label asp-for="Ticket.TicketStock">Stock</label>
                <input asp-for="Ticket.TicketStock" asp-controller="admin" asp-action="dashboard" type="number" value="@ticket.TicketStock" />

                <input asp-for="Ticket.TicketId" asp-controller="admin" asp-action="dashboard" type="hidden" value="@ticket.TicketId" />
                <button type="submit">Apply Changes</button>
            </form>
        </div>
            }
        </div>
    </div>
    
    <div class="purchase-history col">
        <h2>Purchases</h2>
        @foreach (var purchase in Model.Purchases)
        {
            <p>@purchase.Buyer</p>
            <p>@purchase.PurchasePrice@Model.CurrencySymbol</p>
            <p>@purchase.Amount</p>
            <p>@purchase.DateOfPurchase</p>
            <div>
                <img src="@purchase.Movie.MovieImageUrl" alt="Movie Poster" />
                <p>@purchase.Movie.MovieTitle</p>
                <p>@purchase.Movie.MovieSynopsis</p>
                <p>@purchase.Movie.MovieLength</p>
                <p>@purchase.Movie.MovieGenre</p>
            </div>
        }
    <form method="post">
        <label asp-for="ConvertTo">USD</label>
        <input asp-for="ConvertTo" asp-controller="admin" asp-action="dashboard" type="radio" value="USD" />
        <label asp-for="ConvertTo">SEK</label>
        <input asp-for="ConvertTo" asp-controller="admin" asp-action="dashboard" type="radio" value="SEK" />
        <label asp-for="ConvertTo">EUR</label>
        <input asp-for="ConvertTo" asp-controller="admin" asp-action="dashboard" type="radio" value="EUR" />
        <button type="submit">Apply</button>
    </form>
    </div>
</div>
